## Exercise 1: Chipo

### 1. Import Libraries

In [5]:
import pandas as pd
import numpy as np

### 2. Import Dataset

In [6]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [7]:
chipo = pd.read_csv(url, sep = "\t")

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### 3. Product Cost More Than 10.00

In [9]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [11]:
chipo['price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [12]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
price                 float64
dtype: object

In [38]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])

In [39]:
chipo_filtered.loc[(chipo_filtered['price'] > 10) & (chipo_filtered['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price,price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75
...,...,...,...,...,...,...
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75,11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75,11.75
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75,11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25

### 4. Price of Each Item

In [41]:
chipo_filtered.loc[chipo_filtered['quantity'] == 1][['item_name', 'price']]

                                  item_name  price
0              Chips and Fresh Tomato Salsa   2.39
1                                      Izze   3.39
2                          Nantucket Nectar   3.39
3     Chips and Tomatillo-Green Chili Salsa   2.39
5                              Chicken Bowl  10.98
...                                     ...    ...
4602                       Barbacoa Burrito   9.25
4607                          Steak Burrito  11.75
4610                          Steak Burrito  11.75
4611                         Veggie Burrito  11.25
4612                          Carnitas Bowl   9.25

[1806 rows x 2 columns]

### 5. Sort Item Name

In [20]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price,price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### 6. Quantity of the Most Expensive Item Ordered

In [26]:
chipo.sort_values(by = 'price', ascending = False)

,order_id,quantity,item_name,choice_description,item_price,price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
2922,1162,1,Bottled Water,NaN,$1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],$1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09

In [27]:
chipo.sort_values(by = 'price', ascending = False).iloc[0]['quantity']

15

### 7. The number of Times Veggie Salad Bowl was Ordered

In [31]:
chipo.loc[chipo['item_name'] ==  'Veggie Salad Bowl']

,order_id,quantity,item_name,choice_description,item_price,price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75,8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25,11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [32]:
chipo.loc[chipo['item_name'] ==  'Veggie Salad Bowl']['order_id'].nunique()

18

### 8. The number of times order more than one canned soda

In [37]:
chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape

(20, 6)